/* colors: #323741, #06858C, #45C48B, #FFA84C, #F46674 */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4;
}

h1 {
    color: #323741;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main {
    margin: 0;
    padding: 0;
    padding-left: 30%;
    color: #323741;
}

nav {
    text-align: center;
}

footer {
    text-align: center;
}

footer p {
    color: #323741;
}

footer p a {
    color: #F46674;
    text-decoration: none;
}

footer p a:hover {
    color: rgb(252, 134, 146);
}

#expand-all, #close-all {
	background-color:#323741;
	display:inline-block;
	cursor:pointer;
	color:#f4f4f4;
    padding:0.5rem 0.8rem;
    margin: 0.2rem;
    text-decoration:none;
    border: none;
}
#expand-all:hover, #close-all:hover {
	background-color:#4a4e57;
}
#expand-all:active,  #close-all:active {
	position:relative;
	top:2px;
}

.folder{
    cursor:pointer;
}

.learn{
    color: #F46674;
}

.learn.folder:hover {
    color: rgb(252, 134, 146);
}

.learning{
    color: #06858C;
}

.learning.folder:hover {
    color: rgb(10, 181, 190);
}

.revisit{
    color: #FFA84C;
}

.revisit.folder:hover {
    color: rgb(255, 203, 148);
}

.learned{
    color: #45C48B;
}

.learned.folder:hover {
    color: rgb(93, 250, 179);
}

/* TREE CODE CORTESIA DA COD3R ACADEMY */
.tree * {
    list-style-type: none;
}

.tree li a {
    color: #222;
    text-decoration: none;
    font-size: 18px;
}


.tree ul {
    padding-left: 25px;
}

ul.tree, .tree li {
    padding-left: 0px;
    padding-top: 5px;
}

ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    margin: 0 9px;
    padding: 0 7px;
    border-left:1px solid rgb(100,100,100);

}

ul.tree li:last-child {
    border-left:none;
}

ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(100,100,100);
    content:"";
    display:inline-block;
    left:-7px;
}

ul.tree li:last-child:before {
    border-left:1px solid rgb(100,100,100);   
}